/* Variables 
----------------------------- */
:root {
  /* Colors */
  --bg: #C1C1F0;
  --border-color: #452F8B;
  --dark: #141415;
  --violet: #7734FE;
  --violet-d: #452F8B;
  --ultra-violet: #430BFF;

  /* Icons */
  --arrow-data-url: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M4.435 1.607h9.9m0 0v9.899m0-9.9L1.607 14.335' stroke='%23452F8B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  /* Typography */
  --base-font-size: 1rem;

  /* Measures */
  --border: 2px solid var(--border-color);
  --base-pad: 20px;
  --section-pad: 10px;
  --site-gutter: 20px;

  /* Motion
  ------------------- */
  --ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
  --ease-in: cubic-bezier(.895,.03,.685,.22);
  --ease-out: cubic-bezier(.165,.84,.44,1);
  --ease-authentic-motion: cubic-bezier(0.4,0,0.2,1);
}

/* Dark mode
------------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #7734FE;
    --violet: #dadaf6;
    --violet-d: #C1C1F0;
    --arrow-data-url: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M4.435 1.607h9.9m0 0v9.899m0-9.9L1.607 14.335' stroke='%23C1C1F0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
}

@media (min-width: 425px) {
  :root {
    --base-font-size: 1.125rem;
  }
}

@media (min-width: 750px) {
  :root {
    --site-gutter: 50px;
  }
}


/* Utility 
------------------- */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Italic.woff2');
  font-style: italic;
  font-weight: normal;
}


/* Utility 
------------------- */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.nowrap {
  display: block;
  white-space: nowrap;
}

.list-style-none {
  list-style: none;
  margin: 0;
  padding-left: 0;
}


/* Base 
----------------------------- */
body {
  background-color: var(--bg);
  color: var(--violet-d);
  font-family: 'JetBrains Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: bold;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: var(--ultra-violet);
  color: white;
}

::-moz-selection {
  background-color: var(--ultra-violet);
  color: white;
}

ul li,
ol li {
  margin-bottom: 5px;
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

a,
a:visited {
  border-bottom: 2px solid transparent;
  color: var(--violet-d);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--violet-d);
  text-decoration: none;
}

a[href*='//']::after {
  background-image: var(--arrow-data-url);
  background-position: center right;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 14px;
  margin-left: 15px;
  vertical-align: middle;
  width: 16px;
}

a[href*='//']:hover,
a[href*='//']:focus {
  border-color: var(--violet-d);
}


/* Custom elements 
----------------------------- */
.noise {
  z-index: -10;
  position: absolute;
  inset: 0;
  background-image: url('../images/noise.webp');
  mix-blend-mode: overlay;
  pointer-events: none;
}

.radial {
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, var(--ultra-violet) 0%, var(--bg) 100%);
  min-height: 100svh;
  left: 50%;
  position: absolute;
  top: -35px;
  transform: translateX(-50%);
  z-index: -15;
}

@media (min-width: 750px) {
  .radial {
    top: 0;
    transform: translate(var(--mouse-x, -50%), var(--mouse-y, 0));
    transition: transform 0.5s var(--ease-out);
  }
}


/* Site container 
----------------------------- */
.site-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100svh;
  overflow: hidden;
  padding: var(--site-gutter);
  position: relative;
}

.section {
  border-top: var(--border);
  font-size: var(--base-font-size);
  padding-top: var(--section-pad);
}

section.section {
  padding-bottom: calc(5 * var(--section-pad));
}


/* Site top
----------------------------- */
.site-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.nameplate {
  color: var(--violet);
  font-size: var(--base-font-size);
  margin-bottom: 5px;
}

.main-nav {
  text-align: right;
}

@media (max-width: 749px) {
  .site-header .main-nav {
    display: none;
  }
}


/* Site middle
----------------------------- */
.hero {
  display: grid;
  height: 100%;
  place-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.hero-headline {
  color: var(--dark);
  font-size: 12vw;
  font-style: italic;
  font-weight: normal;
  line-height: 1.1;
  margin-top: -5px;
}

@media (min-width: 750px) {
  .hero-headline {
    font-size: 10vw;
    margin-top: -60px;
  }
}

.hero-headline .nowrap:first-of-type {
  transform: translateX(-5vw);
}

.hero-headline .nowrap:last-of-type {
  transform: translateX(5vw);
}


/* Site bottom
----------------------------- */
.copyright {
  font-size: 0.625rem;
  margin: 0;
}

@media (min-width: 425px) {
  .copyright {
    font-size: 0.75rem;
  }
}

@media (min-width: 750px) {
  .site-bottom .section--bottom-nav {
    display: none;
  }
}